# Databse related
DATABASE_TYPE= # mysql or sqlite
# If using mysql, fill all the details
DB_HOST=
DB_DATABASE=
DB_USER=
DB_PASSWORD=

# Discord webhooks used for reports. Each seperated by a comma
DISCORD_WEBHOOKS=

# Staff related
# Moderator/Staff access codes. Each one is seperated by a comma. Format: username:password
STAFF_CODES=
# URL where the staff should login
STAFF_LOGIN_URL=/staff_login
# Webhook used to send logs to the staff
STAFF_LOGS_WEBHOOK=

# Session Password
SESSION_SECRET=

# Contact page webhooks (each seperated by a comma)
CONTACT_WEBHOOKS=

# For captchas to work, set a password
HMAC_SECRET=