<%# Text editor bar %>
<div id="editor_bar">
    <button class="btn" type="button" action="h1" title="Heading"><img height="18px" src="/img/texteditor/header1.png" alt="h1"></button>
    <button class="btn" type="button" action="h2" title="Smaller heading"><img height="18px" src="/img/texteditor/header2.png" alt="h2"></button>
    <button class="btn" type="button" action="h3" title="Even smaller heading"><img height="18px" src="/img/texteditor/header3.png" alt="h3"></button>
    <button class="btn" type="button" action="b" title="Bold"><img height="18px" src="/img/texteditor/bold.png" alt="b"></button>
    <button class="btn" type="button" action="i" title="Italics"><img height="18px" src="/img/texteditor/italics.png" alt="i"></button>
    <button class="btn" type="button" action="u" title="Underline"><img height="18px" src="/img/texteditor/underline.png" alt="u"></button>
    <button class="btn" type="button" action="img" title="Image"><img height="18px" src="/img/texteditor/image.png" alt="img"></button>
    <button class="btn" type="button" action="video" title="Video"><img height="18px" src="/img/texteditor/play.png" alt="video"></button>
    <button class="btn" type="button" action="embed" title="Video embed"><img height="18px" src="/img/texteditor/embed.png" alt="embed"></button>
    <button class="btn" type="button" action="code" title="Code block"><img height="18px" src="/img/texteditor/code.png" alt="code"></button>
    <button class="btn" type="button" action="a" title="Link"><img height="18px" src="/img/texteditor/link.png" alt="a"></button>
    <button class="btn" type="button" action="emoji" title="Emojis"><img height="18px" src="/img/texteditor/emoji.png" alt="emoji"></button>
</div>

<%- include('emojiselector') %>