<%- include("base/head", { title: "New post" }) %>

<body>
    <%- include("base/nav") %>

    <%- include('base/error') %>

    <div class="wrapper">
        <div class="container pixel-border form-container text-center">
            <h2>Create a new post</h2>

            <form action="/create" method="post" id="create">
                <% if (!locals.user) { %>
                    <label for="username">Your username</label>
                    <input type="text" name="username" id="username" placeholder="Username here">

                    <label for="content">Content</label> <%# since there's only one field for registered users, the label is useless %>
                <% } %>
                
                <div style="width: 80%">
                    <%# Text editor bar %>
                    <div id="editor_bar">
                        <button class="btn" type="button" action="h1" title="Heading"><img height="18px" src="/img/texteditor/header1.png" alt="h1"></button>
                        <button class="btn" type="button" action="h2" title="Smaller heading"><img height="18px" src="/img/texteditor/header2.png" alt="h2"></button>
                        <button class="btn" type="button" action="h3" title="Even smaller heading"><img height="18px" src="/img/texteditor/header3.png" alt="h3"></button>
                        <button class="btn" type="button" action="b" title="Bold"><img height="18px" src="/img/texteditor/bold.png" alt="b"></button>
                        <button class="btn" type="button" action="i" title="Italics"><img height="18px" src="/img/texteditor/italics.png" alt="i"></button>
                        <button class="btn" type="button" action="u" title="Underline"><img height="18px" src="/img/texteditor/underline.png" alt="u"></button>
                        <button class="btn" type="button" action="img" title="Image"><img height="18px" src="/img/texteditor/image.png" alt="img"></button>
                        <button class="btn" type="button" action="video" title="Video"><img height="18px" src="/img/texteditor/play.png" alt="video"></button>
                        <button class="btn" type="button" action="embed" title="Video embed"><img height="18px" src="/img/texteditor/embed.png" alt="embed"></button>
                        <button class="btn" type="button" action="code" title="Code block"><img height="18px" src="/img/texteditor/code.png" alt="code"></button>
                        <button class="btn" type="button" action="a" title="Link"><img height="18px" src="/img/texteditor/link.png" alt="a"></button>
                    </div>

                    <textarea name="content" id="content" placeholder="Content here"></textarea>
                </div>
                
                <button class="btn" type="submit">Post</button>
            </form>
        </div>
    </div>

    <!--- scripts -->
    <script src="/js/texteditor.js" type="module" defer></script>

    <%- include("base/footer") %>
</body>
</html>