<%# Page for rate limits. Must be kept simple %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rate Limit</title>
</head>
<body>
    <style>
        body {
            background-color: rgb(255, 165, 91);
            font-family: 'Courier New', Courier, monospace;
            text-align: center;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-decoration: none;
            color: inherit;
        }
    </style>

    <a href="/"><img src="/img/logo.png" height="32px"><h1>Inboxer</h1></a>

    <h1>Slow down there...</h1>
    <p>You have been rate limited. Wait a moment and try again.</p>
</body>
</html>