:root {
	--pixel-bg: rgb(255, 165, 91); /* Inner background color */
	--pixel-border: black; /* Inner border color: */
	--pixel-border-2: white; /* Middle border color: */
	--pixel-border-3: var(--pixel-border); /* Outer border color */
	--pixel: .125rem; /* Pixel size */
}

html {
	background-color: rgb(255 207 167);
}

body {
    cursor: url(/img/cursor.png), auto;
    font-family: "Jersey 10", sans-serif;
}

*:hover {
    cursor: url(/img/cursor.png), auto;
}

a {
    text-decoration: none;
    color: inherit;
}

a.regular {
	text-decoration: underline;
}

hr {
	border-top: solid var(--pixel) rgb(0, 0, 0);
	border-bottom: solid var(--pixel) rgb(255, 255, 255);
	border-left: none;
	border-right: none;
}

form#create {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

form#create button {
    margin-top: 20px
}

input, textarea {
    padding: 5px 15px;
    clip-path: polygon(4px 0px, 4px 2px, 2px 2px, 2px 4px, 0px 4px, 0px calc(100% - 4px), 2px calc(100% - 4px), 2px calc(100% - 2px), 4px calc(100% - 2px), 4px 100%, calc(100% - 4px) 100%, calc(100% - 4px) calc(100% - 2px), calc(100% - 2px) calc(100% - 2px), calc(100% - 2px) calc(100% - 4px), 100% calc(100% - 4px), 100% calc(100% - 4px), 100% 4px, calc(100% - 2px) 4px, calc(100% - 2px) 2px, calc(100% - 4px) 2px, calc(100% - 4px) 0px);
    box-shadow: 10px 10px 10px #000;
    border: none;
}

textarea {
    height: 500px;
    width: 80%
}

/* Containers */
.container {
    max-width: 1100px;
    margin: 2px 15px;
}

.form-container {
    margin-top: 50px;
}

/* Pixel stuff */
/* Taken from https://codepen.io/makewistful/pen/ezOGJK */
.pixel-border {
	background: var(--pixel-bg);
	box-shadow:
		
	/* Inner Background Color */
		0 calc(var(--pixel) * -3) 0 calc(var(--pixel) * -1) var(--pixel-bg),
		0 calc(var(--pixel) * 3) 0 calc(var(--pixel) * -1) var(--pixel-bg),
		0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -2) var(--pixel-bg),
		0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -2) var(--pixel-bg),
		0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -4) var(--pixel-bg),
		0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -4) var(--pixel-bg),
		0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -6) var(--pixel-bg),
		0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -6) var(--pixel-bg),
		
	/* Pixel Border Layer 1 */
		calc(var(--pixel) * -1) 0 0 0 var(--pixel-border),
		var(--pixel) 0 0 0 var(--pixel-border),
		0 calc(var(--pixel) * -2) 0 0 var(--pixel-border),
		0 calc(var(--pixel) * 2) 0 0 var(--pixel-border),
		0 calc(var(--pixel) * -5) 0 calc(var(--pixel) * -1) var(--pixel-border),
		0 calc(var(--pixel) * 5) 0 calc(var(--pixel) * -1) var(--pixel-border),
		0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -2) var(--pixel-border),
		0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -2) var(--pixel-border),
		0 calc(var(--pixel) * -10) 0 calc(var(--pixel) * -4) var(--pixel-border),
		0 calc(var(--pixel) * 10) 0 calc(var(--pixel) * -4) var(--pixel-border),
		0 calc(var(--pixel) * -13) 0 calc(var(--pixel) * -6) var(--pixel-border),
		0 calc(var(--pixel) * 13) 0 calc(var(--pixel) * -6) var(--pixel-border),
		
	/* Pixel Border Layer 2 */
		calc(var(--pixel) * -2) 0 0 0 var(--pixel-border-2),
		calc(var(--pixel) * 2) 0 0 0 var(--pixel-border-2),
		0 calc(var(--pixel) * -1) 0 var(--pixel) var(--pixel-border-2), 
		0 var(--pixel) 0 var(--pixel) var(--pixel-border-2),
		0 calc(var(--pixel) * -4) 0 0 var(--pixel-border-2),
		0 calc(var(--pixel) * 4) 0 0 var(--pixel-border-2),
		0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
		0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
		0 calc(var(--pixel) * -8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
		0 calc(var(--pixel) * 8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
		0 calc(var(--pixel) * -11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
		0 calc(var(--pixel) * 11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
		0 calc(var(--pixel) * -14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
		0 calc(var(--pixel) * 14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
		
	/* Border Layer 3: --pixel-border-3 */
		calc(var(--pixel) * -3) 0 0 0 var(--pixel-border-3),
		calc(var(--pixel) * 3) 0 0 0 var(--pixel-border-3),
		0 0 0 calc(var(--pixel) * 2) var(--pixel-border-3),
		0 calc(var(--pixel) * -3) 0 var(--pixel) var(--pixel-border-3),
		0 calc(var(--pixel) * 3) 0 var(--pixel) var(--pixel-border-3),
		0 calc(var(--pixel) * -5) 0 0 var(--pixel-border-3),
		0 calc(var(--pixel) * 5) 0 0 var(--pixel-border-3),
		0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
		0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
		0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -2) var(--pixel-border-3), 
		0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -2) var(--pixel-border-3),
		0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -4) var(--pixel-border-3), 
		0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -4) var(--pixel-border-3),
		0 calc(var(--pixel) * -15) 0 calc(var(--pixel) * -6) var(--pixel-border-3), 
		0 calc(var(--pixel) * 15) 0 calc(var(--pixel) * -6) var(--pixel-border-3);
}

/* Buttons */
.btn {
    font-family: "Jersey 10", sans-serif;
    font-weight: 100;
    font-size: 120%;
    background-color: var(--secondary-color);
    padding: 2px 10px;

    border: none;
    border-bottom: solid 4px #000;
    border-left: solid 1px #0000008a;
    border-right: solid 1px #0000008a;

    transition: all 0.1s ease-in-out;

    clip-path: polygon(4px 0px, 4px 2px, 2px 2px, 2px 4px, 0px 4px, 0px calc(100% - 4px), 2px calc(100% - 4px), 2px calc(100% - 2px), 4px calc(100% - 2px), 4px 100%, calc(100% - 4px) 100%, calc(100% - 4px) calc(100% - 2px), calc(100% - 2px) calc(100% - 2px), calc(100% - 2px) calc(100% - 4px), 100% calc(100% - 4px), 100% calc(100% - 4px), 100% 4px, calc(100% - 2px) 4px, calc(100% - 2px) 2px, calc(100% - 4px) 2px, calc(100% - 4px) 0px);

    &:hover {
        transform: translateY(3px);
        border-bottom: solid 1px #000;
    }
}

.btn-danger {
	background-color: rgb(235, 69, 69);
}

.btn-success {
	background-color: rgb(149, 235, 69);
}

.btn-close {
	background-color: #a7a7a7;
}

.btn-transparent {
	background-color: transparent;
	border: none;

	&:hover {
        border-bottom: none;
    }
}

.copy_btn img {
	transition: all 0.1s ease-in-out;
}
.copy_btn img:hover {
	transform: scale(80%);
}

/* To create rows of aligned buttons */
.btn-row {
	display: flex;
	gap: 10px;
	align-items: center;
}

/* Wrappers */
.wrapper {
    display: flex;
    justify-content: center;
}

.wrapper > * {
	width: 100%;
}

#nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav > .links {
    display: flex;
    font-size: 110%;
    color: #000000b4;
    text-decoration: underline;
    gap: 20px;
}

#nav > .links > * {
    display: flex;
    align-items: center;
    gap: 10px;
}

#nav > .links > * svg path {
    fill: var(--secondary-color)
}

.text-center {
    text-align: center;
}

#post_id {
    margin-top: 30px;
}

/* Same as an input or textarea, but for divs */
.pixel-box {
    padding: 5px 15px;
    clip-path: polygon(4px 0px, 4px 2px, 2px 2px, 2px 4px, 0px 4px, 0px calc(100% - 4px), 2px calc(100% - 4px), 2px calc(100% - 2px), 4px calc(100% - 2px), 4px 100%, calc(100% - 4px) 100%, calc(100% - 4px) calc(100% - 2px), calc(100% - 2px) calc(100% - 2px), calc(100% - 2px) calc(100% - 4px), 100% calc(100% - 4px), 100% calc(100% - 4px), 100% 4px, calc(100% - 2px) 4px, calc(100% - 2px) 2px, calc(100% - 4px) 2px, calc(100% - 4px) 0px);
    box-shadow: 10px 10px 10px #000;
    border: none;
    background-color: white;
}

.secondary-text {
    color: #000000c9;
}

#post_data {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Page view stying */
#content a {
	text-decoration: underline;
}

#content a, h1, h2, h3, h4, h5, h6 {
	font-family: "Jersey 10", sans-serif;
}

#content p {
	font-family: "Pixelify Sans", sans-serif;
}

#content img {
	max-width: 100%;
	filter: blur(20px);
}

#content img.no_scan {
	filter: none;
} /* images that have this class in the content's body are not scanned by the NSFW checker. This should be for internal images and assets ONLY */

/* Overlay */
#overlay {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	background-color: #00000046;
	height: 100vh;
	width: 100vw;
	z-index: 999;
}

#overlay_inner {
	background-color: white;
	color: black;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%);
}

/* About section */
#about {
	display: flex;
	flex-direction: column;
	gap: 15px;
	max-width: 500px;
	word-wrap: break-word;
}

.about_item {
	display: flex;
	align-items: center;
	gap: 10px;
}

.about_item h3 {
	margin: 0px;
}

#error {
	max-width: 500px;
	word-wrap: break-word;
	padding: 2px 5px;
	text-align: center;
}

#error .before {
	background-color: rgb(250, 128, 128);
}

#success {
	max-width: 500px;
	word-wrap: break-word;
	padding: 2px 5px;
	text-align: center;
}

#success .before {
	background-color: rgb(173, 250, 128);
}

.pixel-container .before {
	padding: 5px 15px;
    clip-path: polygon(4px 0px, 4px 2px, 2px 2px, 2px 4px, 0px 4px, 0px calc(100% - 4px), 2px calc(100% - 4px), 2px calc(100% - 2px), 4px calc(100% - 2px), 4px 100%, calc(100% - 4px) 100%, calc(100% - 4px) calc(100% - 2px), calc(100% - 2px) calc(100% - 2px), calc(100% - 2px) calc(100% - 4px), 100% calc(100% - 4px), 100% calc(100% - 4px), 100% 4px, calc(100% - 2px) 4px, calc(100% - 2px) 2px, calc(100% - 4px) 2px, calc(100% - 4px) 0px);
    box-shadow: 10px 10px 10px #000;
    border: none;
	position: relative;
	z-index: 1;
}

.pixel-container .after {
	padding: 5px 15px;
    clip-path: polygon(4px 0px, 4px 2px, 2px 2px, 2px 4px, 0px 4px, 0px calc(100% - 4px), 2px calc(100% - 4px), 2px calc(100% - 2px), 4px calc(100% - 2px), 4px 100%, calc(100% - 4px) 100%, calc(100% - 4px) calc(100% - 2px), calc(100% - 2px) calc(100% - 2px), calc(100% - 2px) calc(100% - 4px), 100% calc(100% - 4px), 100% calc(100% - 4px), 100% 4px, calc(100% - 2px) 4px, calc(100% - 2px) 2px, calc(100% - 4px) 2px, calc(100% - 4px) 0px);
    box-shadow: 10px 10px 10px #000;
    border: none;
    background-color: rgb(0, 0, 0);
	z-index: 0;
	position: relative;
	transform: translateY(-8px);
}

/* Fancy usernames */
.admin_username {
	background-image: linear-gradient(-45deg, rgb(109, 2, 248) 0%, rgb(239, 3, 235) 10%, rgb(239, 3, 235) 20%, rgb(109, 2, 248) 30%, rgb(109, 2, 248) 40%, rgb(239, 3, 235) 50%, rgb(239, 3, 235) 60%, rgb(109, 2, 248) 70%, rgb(109, 2, 248) 80%, rgb(239, 3, 235) 90%, rgb(239, 3, 235) 100%);
	-webkit-text-fill-color: transparent;
  	-webkit-background-clip: text, border-box;
	background-clip: text, border-box;
	position: relative;
	
	font-family: "Pixelify Sans", sans-serif;
	font-weight: 800;
	font-size: 120%;
	-webkit-text-stroke: .05rem #000;
	transition: 3s;
	animation: adminAnim 3.5s cubic-bezier(0.4, 0, 1, 1) 0s infinite running;
}

.admin_tag {
	color: red
}

@keyframes adminAnim {
	0% {
		background-position: 0% 50%, 0%;
	}
	50% {
		background-position: 100% 50%, 0%;
	}
	100% {
		background-position: 0% 50%, 0%;
	}
}

#post_id_copy_notification {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	display: none;
}

#report form {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 100%;
}

#report {
	display: flex;
	justify-content: center;
	max-width: 550px;
	margin: 0px 5px;
}

#report textarea {
	width: 95%;
}

/* Popover related */
.popover_container {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	clip-path: polygon(4px 0px, 4px 2px, 2px 2px, 2px 4px, 0px 4px, 0px calc(100% - 4px), 2px calc(100% - 4px), 2px calc(100% - 2px), 4px calc(100% - 2px), 4px 100%, calc(100% - 4px) 100%, calc(100% - 4px) calc(100% - 2px), calc(100% - 2px) calc(100% - 2px), calc(100% - 2px) calc(100% - 4px), 100% calc(100% - 4px), 100% calc(100% - 4px), 100% 4px, calc(100% - 2px) 4px, calc(100% - 2px) 2px, calc(100% - 4px) 2px, calc(100% - 4px) 0px);
	background-color: #000;
	color: white;
}

/* Image spoiler overlays */
.spoiler_overlay {
	position: absolute;
	background-color: #000000b7;
	backdrop-filter: blur(25px);
	z-index: 999;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
}

/* Utility classes */
/* Flex shortcut classes */
.flex {
	display: flex;
}

.align-items-center {
	align-items: center;
}

.justify-content-center {
	justify-content: center;
}

/* Gap classes */
.gap-5 {
	gap: 5px
}

.gap-10 {
	gap: 10px
}

.gap-15 {
	gap: 15px
}

.gap-20 {
	gap: 20px
}

.gap-25 {
	gap: 25px
}

/* Padding/Margin classes */
.padding-5 {
	padding: 5px
}

.padding-10 {
	padding: 10px
}

.padding-15 {
	padding: 15px
}

.no-padding-bottom {
	padding-bottom: 0px;
}

.no-padding-top {
	padding-top: 0px;
}

.margin-5 {
	margin: 5px
}

.margin-10 {
	margin: 10px
}

.margin-15 {
	margin: 15px
}

.no-margin-bottom {
	margin-bottom: 0px;
}

.no-margin-top {
	margin-top: 0px;
}

.no-margin-left {
	margin-left: 0px;
}

.no-margin-right {
	margin-right: 0px;
}

.no-margin-left-right {
	margin-left: 0px;
	margin-right: 0px;
}

/* Opacity classes */
.opacity-75 {
	opacity: 0.5
}

.opacity-50 {
	opacity: 0.5
}

.opacity-25 {
	opacity: 0.25
}

/* Grid utilities */
.grid-3 {
	display: grid;
	grid-template-columns: auto auto auto;
}
@media screen and (max-width: 500px) {
	.grid-3 {
		grid-template-columns: auto auto;
	}
}
@media screen and (max-width: 300px) {
	.grid-3 {
		grid-template-columns: auto;
	}
}

/* End utility classes */

/* Text editor */
#editor_bar {
	line-height: 0px;
}

#editor_bar > .btn {
	margin-top: 0px;
	padding: 4px 3px 0px 3px
}

textarea#content {
	width: 100%
}

/* Video player related */
.video_container {
	position: relative;
}

.video_container > .content_warning, .embed_container > .content_warning {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #0000009f;
	backdrop-filter: blur(15px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	z-index: 99;
}

.content_warning p {
	margin: 0px 15px 10px 15px;
}

.video_container video {
	width: 100%;
}

/* Code blocks */
.code_block {
	display: flex;
	flex-direction: column;
	background-color: #24222e;
	color: #d3d0e4;
	padding: 5px 10px;
	clip-path: polygon(4px 0px, 4px 2px, 2px 2px, 2px 4px, 0px 4px, 0px calc(100% - 4px), 2px calc(100% - 4px), 2px calc(100% - 2px), 4px calc(100% - 2px), 4px 100%, calc(100% - 4px) 100%, calc(100% - 4px) calc(100% - 2px), calc(100% - 2px) calc(100% - 2px), calc(100% - 2px) calc(100% - 4px), 100% calc(100% - 4px), 100% calc(100% - 4px), 100% 4px, calc(100% - 2px) 4px, calc(100% - 2px) 2px, calc(100% - 4px) 2px, calc(100% - 4px) 0px);
}

.code_block .code_info {
	display: flex;
}

.code_block .language {
	padding: 0px 10px;
	border-bottom: dashed 1px #6f698f;
	flex-grow: 1;
}

.code_block .copy_btn img {
	height: 15px
}

.code_block .code_content {
	/* padding: 10px 0px; */
}

/* Code blocks synthax highlight */
.hljs-built_in {
	color: #b39d63;
}

.hljs-string {
	color: #b8693c;
}

.hljs-keyword {
	color: #8b52b1;
}

.hljs-number {
	color: #7f9751;
}

.hljs-literal {
	color: #4166ac;
}

.hljs-params {
	color: #519aa3;
}

.hljs-title.function_ {
	color: #a7a14f;
}

.hljs-type {
	color: #6f73a8;
}

/* end code blocks */

#announcement {
	position: fixed;
	bottom: 1%;
	left: 1%;
	max-width: 55%;
	padding: 10px;
}

#announcement .before {
	background-color: #f09936;
}
#announcement .after {
	background-color: #5e3b14;
}

/* Video embeds */
#content .iframe-container {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100vh; /* might have to change this, so that the iframe takes the whole space */
	max-width: 600px;
	max-height: calc(600px / 16);
	padding-top: 56.25%;
}

#content .iframe-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: none;
}

#content .iframe-info {
	padding-left: 10px;
	color: #747474;
	font-style: italic;
}

.embed_container {
	max-width: 600px;
	max-height: 500px;
	position: relative;
}

.popup_warning {
	z-index: 95; /* so that it sits bellow the NSFW content warning if both are needed */
}

.user_controls {
	display: flex;
	width: 100%;
	margin-top: 25px
}

/* User group styling */
/* Throwaway users */
.group-0 {
	color: #000000a3;
}

/* Anon users */
.group-1 {
	color: #008014;
	text-shadow: 0px 0px 5px #47b757;
}

/* Regular users */
.group-2 {
	color: #000;
}

/* Mods */
.group-3 {
	color: #d86518;
	border-bottom: 1px dotted;
}
.group-3::before {
	content: "[Mod]";
	color: red;
}

/* Admins */
/* Mods */
.group-4 {
	color: rgb(121, 36, 155);
	text-shadow: 0px 0px 5px purple;
	background-image: url(/img/sparkle_username.gif);
}

.group-4::before {
	content: "[Admin]";
	color: red;
	text-shadow: none;
}
/* End username styles */

.input-indicator {
	position: absolute;
	background-color: #000;
	color: white;
	padding: 2px 5px;
    clip-path: polygon(4px 0px, 4px 2px, 2px 2px, 2px 4px, 0px 4px, 0px calc(100% - 4px), 2px calc(100% - 4px), 2px calc(100% - 2px), 4px calc(100% - 2px), 4px 100%, calc(100% - 4px) 100%, calc(100% - 4px) calc(100% - 2px), calc(100% - 2px) calc(100% - 2px), calc(100% - 2px) calc(100% - 4px), 100% calc(100% - 4px), 100% calc(100% - 4px), 100% 4px, calc(100% - 2px) 4px, calc(100% - 2px) 2px, calc(100% - 4px) 2px, calc(100% - 4px) 0px);
}

.auth-form-footer {
	margin-top: 20px
}

/* User profile page */
.post-list {
	display: flex;
	flex-direction: column;
}

/* Emoji selector */
#emojiselect {
	position: absolute;
	display: none;
	z-index: 99;

	max-width: 150px;
}

#emojiselect .emoji_box {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 7px;

	max-height: 90px;
	overflow-y: scroll;
}

.secondary-color-bg {
	background-color: var(--secondary-color);
}

.secondary-color-text {
	color: var(--secondary-color);
}