<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><% if (locals.title) { %><%- title %><% } else { %>Inboxer<% } %></title>

    <!--- stylesheet -->
    <link rel="stylesheet" href="/css/styles.css">

    <!--- scripts -->
    <script src="/js/script.js" defer></script>

    <!--- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">

    <!--- ejs -->
    <script src="https://cdn.jsdelivr.net/npm/ejs@5.0.2/ejs.min.js"></script>

    <!--- favicon -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <%# Open Graphs tags to embed content to other sites (like Discord) %>
    <% if (locals.og_data) { %>
        <meta property="og:title" content="<%= og_data.title %>" />
        <meta property="og:description" content="<%= og_data.description %>" />
        <meta property="og:site_name" content="Inboxer" />
    <% } %>
    <%# TODO: work on adding more og tags to embed videos and images from posts to other platforms %>
</head>